# Python
*.py[cod]

# Visual Studio
*.pyproj
*.sln
*.suo

# Simulation meta-data
*simulations/

# Analysis outputs
*cache/
*figs/

# Old stuff
deprecate/

# Setup
*.eggs
*egg-info
*build/
*dist/

# PyCharm
*.idea*
*.log
.ipynb_checkpoints
dtk/tools/calibration/calibtool/temp
dtk/tools/calibration/calibtool/temp_dtk.py
dtk/tools/calibration/calibtool/StdOut.txt
dtk/tools/calibration/calibtool/StdErr.txt
dtk/tools/calibration/calibtool/simIDs