body {
    position: relative;
    background: white;
}


.bothcontainer {
    /*width: 1200px; */
    /*width:1240px;*/
    width:1900px;
    margin: 0px auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: white;
    border: 1px solid #efeeee;
    box-shadow: 3px 3px 3px #efeeee;
}

.resourcecontainer {
    /*width: 1200px;*/
    /*width: 1240px;*/
    width: 1900px;
    /*border: solid 1px gray;*/
}

.resourcecontainer.maps {
    float:left;

    /*background: gray;*/
}

.resourcecontainer.timeseries {
    float:left;

    /*background: gray;*/
}

.map_decorations_container
{
	float:left; 
	margin:-0.5em;
}

.scatter_decorations_container
{
	float:left; 
}

.colorbar_container
{
	float:right; 
}

.containerheader img {
    float: left;
    margin: 10px;
}

.containerheader h1 {
    font-size: 24px;
    padding: 0px 5px 20px;
    float: left;
    vertical-align: middle;
}

.containerfooter p {
    color: gray;
    font-size: x-small;
    padding: 0px 10px;
}

span.year {
    display: block;
    float: left;
    vertical-align: middle;
    font-weight: bold;
    padding: 0 5px 0px 25px;
    line-height: 30px; 
}




.ts_container
{
	float:left;
}

.hm_container
{
	float:left;
}

.cb, .cb span { 
    background: url(./switch.gif) repeat-x; 
    display: block; 
    float: left; 
    color: darkgray;
}

.cb span { 
    line-height: 30px; 
    display: block; 
    background-repeat: no-repeat; 
    font-weight: bold; 
    font-size: small;
    padding: 0 10px;
}

.cb.selected span {
    color: white;
}

.cb.left span { background-position: left -90px; }
.cb.left.selected { background-position: 0 -30px; }
.cb.left.selected span { background-position: left -120px; }

.cb.middle span { background-position: right 0px; }
.cb.middle.selected { background-position: 0 -30px; }
.cb.middle.selected span { background-position: right -30px; }

.cb.right span { background-position: right -180px; }
.cb.right.selected { background-position: 0 -30px; }
.cb.right.selected span { background-position: right -210px; }

.switch label { cursor: pointer; }
.switch input { display: none; }

a {
    text-decoration: none;
}

a:hover {
    /*#color: firebrick;*/
}

.resourcecontainer.charts {
    clear:both;
    /*float: right;*/
    top: 0;
}

.bar_veg {
  fill: green;
}

.bar_res {
  fill: blue;
}

.figs
{
	position:absolute;
	top:25em;
	left:40em;
}

.gazeteer
{ 

}

.gazeteer_option
{
	font-size:7pt;
	background-color: #ffffff;
	color: #005a32;
	font-weight:bolder;
	list-style-type: none;
	display:inline-block; 
	padding-right: 20px;
	cursor:pointer;
	cursor:hand;
}

.gazeteer_model
{
	font-size:7pt;
	background-color: #ffffff;
	color: #005a32;
	font-weight:bolder;
	list-style-type: none;
	display:inline-block; 
	padding-right: 20px;
	cursor:pointer;
	cursor:hand;
}

.time_idx_option
{
	font-size:7pt;
	background-color: #ffffff;
	color: #005a32;
	font-weight:bolder;
	list-style-type: none;
	display:inline-block; 
	padding-right: 20px;
	cursor:pointer;
	cursor:hand;
}

.time_idx_selected
{
	font-size:7pt;
	color: #cb181d;
	font-weight:bolder;
	list-style-type: none;
	display:inline-block; 
	padding-right: 20px;
	cursor:pointer;
	cursor:hand;
}

.gazeteer_options_header
{
	font-size:7pt;
	background-color: #ffffff;
	font-weight:bolder;
	list-style-type: none;
	display:inline-block; 
	padding-right: 50px;
	text-align: right;
}

.gazeteer_option_selected
{
	font-size:7pt;
	color: #cb181d;
	font-weight:bolder;
	list-style-type: none;
	display:inline-block; 
	padding-right: 20px;
	cursor:pointer;
	cursor:hand;
}

.gazeteer_model_selected
{
	font-size:7pt;
	color: #cb181d;
	font-weight:bolder;
	list-style-type: none;
	display:inline-block; 
	padding-right: 20px;
	cursor:pointer;
	cursor:hand;
}



.resourcecontainer.hists {
	float:right
    /*background: gray;*/
}

.resourcecontainer.buttons {
	/*position:fixed;*/
	/*z-index:9999;*/
    float:right;
    width: auto;
    margin: 0px 20px 0px;
}


.resourcecontainer.maps svg
{
  overflow: hidden;
}

svg {
    font-size: 11px; 
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis--y path {
    display: none;
}

.chart_title {
    font-size: larger;
}

.clusters {
    fill: none;
    stroke: #aaa;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 0.5px;
}

.cluster--hover {
    stroke: #b52424;
    stroke-width: 1.5px;
}

.focus circle {
    fill: #b52424;
}

.focus text {
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    font-weight: bold;
}

.bubble {
    stroke: lightgray;
}

.bubble--hover {
    stroke: black;
    stroke-width: 1.5px;
}

.data_p--hover {
    stroke: black;
    stroke-width: 1.5px;
}

.lakes {
    stroke: lightgray;
    stroke-width: 0.25px;
    stroke-dasharray:10,10;
    fill: lightblue;
    fill-opacity: 0.4;
}

.voronoi path {
    fill: none;
    pointer-events: all;
}

.voronoi--show path {
    stroke: dodgerblue;
    stroke-opacity: .2;
}

#form {
    position: absolute;
    top: 20px;
    right: 30px;
}
